
		*{
			margin: 0;
			padding: 0;
		}
		/*滚动屏属性*/
		html,body{
			height: 100%;
			overflow: hidden;
			position: relative;
		}
		ul{
			list-style: none;
		}
		.content{
				width: 100%;
				height: 100%;
				transform:translateY(0%);
				/*IE6、7、8、9都不兼容*/
				transition:all 1s cubic-bezier(0.86, 0, 0.07, 1) 0s;
		}
		.content div.page{
			width: 100%;
			height: 100%;
		}
		.content div.page0{
			background-color: #ccc;
		}
		.content div.page1{
			background:url("../images/bg7.jpg") no-repeat center top;
			position: relative;
		}
		.content div.page2{
			background:url("../images/bg5.jpg") no-repeat center top;
			position: relative;
		}
		.content div.page3{
			position: relative;
			overflow: hidden;
			background:url("../images/bg00.png") no-repeat center top;
		}
		/*LOGO*/
		nav .logo{
			float: left;
			width: 60px;
			height: 60px;
			background: url("../images/logo1.png") center center;
			background-size: 60px 60px;
			text-indent: -999em;
			border-radius: 50%;
			border: 3px solid #ccc;
			box-sizing:border-box;
		}
		/*导航*/
		nav{
			position: fixed;
			z-index: 999;
			left: 0;
			top: 0;
			width: 100%;
			height: 60px;
			background-color: #27252e;
			
		}
		nav .nav-center{
			height: 60px;
			width: 980px;
			margin: 0 auto;
		}
		nav ul li div{
			width: 140px;
			height: 60px;
			perspective:5000px;
			transform-style:preserve-3d;
			transition:all 0.5s ease 0s;
		}
		nav ul{
			float: right;
		}
		nav ul li{
			float: left;
			width: 140px;
			height: 60px;
			position: relative;
			cursor: pointer;
		}
		nav ul li div span{
			height: 60px;
			width: 140px;
			position: absolute;
			text-align: center;
			line-height: 60px;
			display: block; background-color: #27252e;
			color: #fff;
			font-family: "微软雅黑";
			font-size: 14px;
			top: 0;
			left: 0;
		}
		nav ul li div span:nth-child(1){
			transform:translateZ(30px);
		}
		nav ul li div span:nth-child(2){
			transform:rotateX(90deg) translateZ(30px);
			color: gold;
		}
		nav ul li:hover div{
			transform:rotateX(-90deg);
		}
		.nav-center ul div.cur{
			transform:rotateX(-90deg);
		}
		/*banner*/
		.page0 ul li{
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			display: none;
		}
		.page0{
			position: relative;
		}
		.page0 ul{
			width: 100%;
			height: 100%;
			position: relative;
		}
		.page0 ul li img{
			width: 100%;
			height: 100%;
		}
		.page0 ul li.first{
			display: block;
		}
		/*小圆点*/
		.circles{
			width: 20px;
			height: 150px;
			position: fixed;
			z-index: 999;
			right: 20px;
			top: 50%;
			margin-top: -75px;
		}
		.circles ul{
			width: 20px;
			height: 150px;
			position: absolute;
			top: -19px;
		}
		.circles ul li{
			width: 18px;
			height: 18px;
			border-radius: 50%;
			background-color: #fff;
			margin:20px -1px;
			border: 2px solid #fff;
			cursor: pointer;
			opacity: 0.2
		}
		.circles .opctity{
			width: 20px;
			height: 150px;
			background-color: #ccc;
			opacity: 0.2;
			border-radius:50px;
		}
		.circles ul li.cur{
			background-color: #000;
		}
		/*第二页内容*/
		.page1 .rotation{
			width: 454px;
			height: 454px;
			
			top: 50%;
			left: 50%;
			margin-left: -227px;
			margin-top: -227px;
			transition:all 1s ease 0s;
			/*background-color: #000;*/
			position: absolute;
		}

		.page1  .rotation img{
				opacity: 0;
				transition:all 2s ease 0s;
		}
		.page1.cur .rotation img{
				transform:rotate(360deg);
				opacity: 1;
		}
		.page1 .rotation span{
			color: #fff;
			position: absolute;
			left: 50%;
			top: 50%;
			transition:all 1.5s ease 0s;
			opacity: 0;
		}
		.page1 .rotation #wz0{
			left: 216px;
		}
		.page1.cur .rotation #wz0{
			transform:translateY(-270px);
			opacity: 1;
		}
		.page1.cur .rotation #wz1{
			transform:translateX(-250px) translateY(-200px);
			opacity: 1;
		}
		.page1.cur .rotation #wz2{
			transform:translateX(160px) translateY(-200px);
			opacity: 1;
		}
		.page1.cur .rotation #wz3{
			transform:translateX(-200px) translateY(200px);
			opacity: 1;
		}
		.page1.cur .rotation #wz4{
			transform:translateX(100px) translateY(200px);
			opacity: 1;
		}
		/*第二页左边文字*/
		.page1 .left-wz{
			width: 305px;
			height: 300px;
			position: absolute;
			top: 50%;
			margin-top: -50px;
			left: -50px;
			line-height: 40px;
		}
		.page1 .left-wz #l-bt{
			position: absolute;
			color: gold;
			font-family: "微软雅黑";
			font-size: 30px;
			font-weight: bold;
			top: -100px;
		}
		.page1 .left-wz span{
			position: absolute;
			color: #fff;
			font-family: "微软雅黑";
			opacity: 0;
		}
		.page1 .left-wz #l-bt{
			transition:all 1s ease 0s;
		}
		.page1 .left-wz #l-wz1{
			transition:all 1s ease 0.2s;
		}
		.page1 .left-wz #l-wz2{
			transition:all 1s ease 0.4s;
		}
		.page1 .left-wz #l-wz3{
			transition:all 1s ease 0.6s;
		}
		.page1 .left-wz #l-wz4{
			transition:all 1s ease 0.8s;
		}
		.page1.cur .left-wz #l-bt{
			transform:translateX(100px);
			opacity: 1;
		}
		.page1.cur .left-wz #l-wz1{
			transform:translateX(100px);
			opacity: 1;
		}
		.page1.cur .left-wz #l-wz2{
			transform:translateX(100px);
			opacity: 1;
		}
		.page1.cur .left-wz #l-wz3{
			transform:translateX(100px);
			opacity: 1;
		}
		.page1.cur .left-wz #l-wz4{
			transform:translateX(100px);
			opacity: 1;
		}
		.page1.cur .left-wz #l-bt{
			transform:translateX(100px);
			opacity: 1;
		}
		/*第三页左边文字*/
		.page2 .left-wz{
			position: absolute;
			width: 400px;
			height: 500px;
			top: 50%;
			margin-top: -350px;
			line-height: 20px;
			margin-left: 50px;
		}
		.page2 .left-wz p{
			position: absolute;
			color: #fff;
			opacity: 0;
			font-family: "微软雅黑";
		}
		.page2 .left-wz h1{
			 opacity: 0;
			 font-family: "微软雅黑";
		}
		.page2 .left-wz h1{
			transition:all 1s ease 0.5s;
		}
		.page2 .left-wz #l-wz1{
			transition:all 1s ease 0.4s;
		}
		.page2 .left-wz #l-wz2{
			transition:all 1s ease 0.3s;
		}
		.page2 .left-wz #l-wz3{
			transition:all 1s ease 0.2s;
		}
		.page2 .left-wz #l-wz4{
			transition:all 1s ease 0.1s;
		}
		.page2 .left-wz #l-wz5{
			transition:all 1s ease 0s;
		}
		.page2.cur .left-wz h1{
			transform:translateY(200px);
			opacity: 1;
		}
		.page2.cur .left-wz #l-wz1{
			transform:translateY(250px);
			opacity: 1;
		}
		.page2.cur .left-wz #l-wz2{
			transform:translateY(320px);
			opacity: 1;
		}
		.page2.cur .left-wz #l-wz3{
			transform:translateY(400px);
			opacity: 1;
		}
		.page2.cur .left-wz #l-wz4{
			transform:translateY(440px);
			opacity: 1;
		}
		.page2.cur .left-wz #l-wz5{
			transform:translateY(480px);
			opacity: 1;
		}
		/*第三页右边技能*/
		.page2 .r-box{
			position: absolute;
			width: 700px;
			height: 400px;
			transition:all 1s ease 0s;
			-webkit-animation:dongdong 0.6s linear 0s infinite alternate;
			right: -20%;
			top: 50%;
			margin-top: 180px;
			opacity: 0;
		}
		.page2 .r-box ul li img{
			width: 100%;
			height: 100%;
		}
		.page2 .r-box ul li:nth-child(1){
			position: absolute;
			width: 98px;
			height: 99px;
			left: 20px;
			top: 20px;
			background: url("../images/ps.jpg");
		}
		.page2 .r-box ul li:nth-child(2){
			position: absolute;
			width: 98px;
			height: 99px;
			left: 452px;
			top: 20px;
			background: url("../images/ai.jpg");
		}
		.page2 .r-box ul li:nth-child(3){
			position: absolute;
			width: 98px;
			height: 99px;
			left: 227px;
			top:  20px;
			background: url("../images/dw.jpg");
		}
		.page2 .r-box ul li:nth-child(4){
			position: absolute;
			width: 100px;
			height: 100px;
			left: 20px;
			top: 250px;
			background: url("../images/js.jpg");
		}
		.page2 .r-box ul li:nth-child(5){
			position: absolute;
			width: 100px;
			height: 100px;
			left: 228px;
			top: 250px;
			background: url("../images/jq.jpg");
		}
		.page2 .r-box ul li:nth-child(6){
			position: absolute;
			width: 100px;
			height: 100px;
			left: 449px;
			top: 250px;
			background: url("../images/fl.jpg");
		}
		.page2.cur .r-box{
			transform:translateX(-40%);
			opacity: 1;
		}
		
		@-webkit-keyframes dongdong{
			from{
				top: 10px;
			}
			to{
				top: 30px;
			}
		}

	/*第四页TAB*/
		.page3 .tab{
			width: 967px;
			height: 560px;
			left: 60%;
			top: 50%;
			margin-top: -250px;
			margin-left: -483px;
			position: relative;
			overflow: hidden;
			
		}
		.page3 .tab .tab-ul{
			width: 5000px;
			position: absolute;
			top: 0;
			left:0;
		}
		.page3 .tab .tab-ul li{
			width: 967px;
			height: 560px;
			float: left;
		}
		.page3 .tab .tab-ul li:nth-child(1) .mac img{
			width: 100%;
			height: 100%;
		}
		.page3 .tab .tab-ul li:nth-child(1) .mac{
			position: absolute;
			margin: 90px 170px;
			width: 645px;
			height: 335px;
			top: -100px;
			transition:all 1s ease 1s;
			opacity: 0;
		}
		.page3.cur .tab .tab-ul li:nth-child(1) .mac{
			transform:translateY(100px);
			opacity: 1;
		}
		/*电脑里面的内容*/
		.page3 .tab .tab-ul .web .web-ul{
			width: 5000px;
			position: absolute;
		}
		.page3 .tab .tab-ul .web .web-ul li{
			float: left;
			cursor:pointer;
		}
		.page3 .tab .tab-ul .web .web-ul li img{
			width: 100%;
			height: 100%;
		}
		.page3 .tab .tab-ul li:nth-child(1) .web .web-ul li{
			width: 496px;
			height: 276px;
		}
		.page3 .tab .tab-ul li:nth-child(1) .web{
			position: absolute;
			overflow: hidden;
			top: 20px;
			left: 74px;
			width: 496px;
			height: 276px;
		}

		
		/*第四页左边TAB按钮*/
		.page3 .left-btn{
			width: 100px;
			height: 200px;
			position: absolute;
			top: 50%;
			margin-top: -100px;
			left: -200px;
		}
		.page3.cur .left-btn li:nth-child(1){
			transform:translateX(250px);
		}
		.page3.cur .left-btn li:nth-child(2){
			transform:translateX(250px);
		}
		.page3.cur .left-btn li:nth-child(3){
			transform:translateX(250px);
		}
		.page3 .left-btn li:nth-child(1){
			transition:all 1.5s ease 0s;
			cursor: pointer;
			width: 220px;
			height: 37px;
			background: url("../images/web.png") no-repeat;
		}
		.page3 .left-btn li:nth-child(2){
			transition:all 1.5s ease 0.1s;
			cursor: pointer;
			width: 220px;
			height: 37px;
			margin-top: 50px;
			background: url("../images/icon.png") no-repeat;
		}
		.page3 .left-btn li:nth-child(3){
			transition:all 1.5s ease 0.2s;
			cursor: pointer;
			width: 220px;
			height: 37px;
			margin-top: 50px;
			background: url("../images/app.png") no-repeat;
		}
		/*第四页选项卡第二页内容*/
		.tab .tab-ul .two{
			width: 967px;
			height: 560px;
			position: relative;
		}
		.show-box{
			width: 967px;
			height: 560px;
			margin-top: 8px;
		}
		.show-box li img{
			width: 100%;
			height: 100%;
		}
		.tab-ul .two .show-box li{
			overflow: hidden;
			width: 300px;
			height: 175px;
			margin-top: 10px;
			margin-left: 10px;
			position: relative;
			cursor: pointer;
		}
		.tab-ul .two .bigShow span{
			position: absolute;
			width: 30px;
			height: 30px;
			background-color: #fff;
			border: 1px solid #000;
			border-radius: 50%;
			font-size: 30px;
			line-height: 30px;
			text-align: center;
			right: 0px;
			top: 0px;
			cursor: pointer;
		}
		
		.tab-ul .two .bigShow{
			position: absolute;
			width: 963px;
			height: 560px;
			display: none;
			top:0;
			left:0;
		}
		.two .BLACKCOVER{
			width: 100%;
			height: 100%;
			background-color: black;
			opacity: 0.6;
			position:fixed;
			top: 300%;
			left: 0;
			display: none;
		}
		.tab-ul .two .show-box li div{
			width: 300px;
			height: 40px;
			background-color: black;
			position: absolute;
			bottom: 0px;
			left: 0;
			opacity: 0.6;
			display: none;
		}
		.show-box li img{
			transition:all 1s ease 0s;
		}
		.tab-ul .two .show-box li:hover img{
			transform:scale(1.2);
		}
		.tab-ul .two .show-box li div{
			position: absolute;
			line-height: 40px;
			color: #fff;
			text-align: center;
			font-family: "微软雅黑"
		}
		/*选项卡第三页*/
		.three{
			position: relative;
			overflow: hidden;
		}
		.three .three-ul{
			width: 40000px;
			height: 458px;
			position: absolute;
			margin-top: 50px;
			margin-left: 40px;
		}
		.tab .three .three-ul li img{
			width: 100%;
			height: 100%;
		}
		.tab .three .three-ul li{
			width: 250px;
			height: 458px;
			float: left;
			margin-right: 80px;
		}
		.three .phone1{
			width: 265px;
			height: 552px;
			position: absolute;
			top: 5px;
			left: 33px;
			background: url("../images/phone.png") no-repeat;
		}
		.three .phone2{
			width: 265px;
			height: 552px;
			position: absolute;
			top: 5px;
			left: 363px;
			background: url("../images/phone.png") no-repeat;
		}
		.three .phone3{
			width: 265px;
			height: 552px;
			position: absolute;
			top: 5px;
			right: 10px;
			background: url("../images/phone.png") no-repeat;
		}